[core]
	fileMode = false
	hideDotFiles = false
	ignorecase = false
	quotepath = false
	safecrlf = true
	autocrlf = false
	editor = vim
	ui = auto
	pager = LESSCHARSET=utf-8 less
[user]
	name = sAbIz
	email = bellett@sabiz.jp
[push]
	default = current
[merge]
	tool = vimdiff
